/*
Theme Name:   SOO2 Green
 Description:  A Business theme which is ideal for creating a corporate / business website. Appointment Green theme is a child theme of appointment which has several sections such as slider, services , widget area, etc etc. The green of this theme makes your site looks clean and elegant. Appointment Green theme comes with various locales.
 Author:       webriti
 Author URI:   https://www.webriti.com
 Theme URI:    https://webriti.com/appointment-green-child-version-details-page-1/
 Template:     soo2
 Version:      1.1.1
 Tags: 		   full-width-template, threaded-comments, two-columns,  right-sidebar, sticky-post, custom-menu, translation-ready, blog, portfolio, footer-widgets, featured-images, featured-image-header, custom-header
 Text Domain: appointment-green
*/

.blog-lg-area-left > .media > .media-body, .blog-lg-area-right .media > .media-body, .blog-lg-area-full .media > .media-body {
    border-bottom: 1px solid #eeeeee;
    padding: 0 0 0px;
}
